.cards__section {
}
.cards__container {

}
.cards__section-title {

}
.cards__section-link {
    display: block;
    font-weight: 700;
    color: $regular-color;
}
.cards__section-title-main {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    color: $gradient-red;
}
.cards__section-card-block {
}
.cards__section-card {
}
.cards__section-card-title {
}
.cards__section-card-text {
}