html, body {
    scroll-behavior: smooth;
    
  }

body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
    
}

.wrapper {
    background: $gradient-super-soft;
    padding-bottom: 60px;
    margin-bottom: 20px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: #CACADB;
        left: 20px;
        right: 20px;
        bottom: -10px;
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        background: #E7E7F2;
        left: 40px;
        right: 40px;
        bottom: -20px;
        height: 20px;
        border-radius: 0px 0px 12px 12px;
        z-index: 1;
    }
    
}

// Альтернатива псевдоклассам враппера

// .wrapper__shadow {
    
//     position: relative;
//     padding-top: 20px;

// }
// .wrapper__shadow-item {
//     position: absolute;
//     background: #CACADB;
//     left: 20px;
//     right: 20px;
//     top: 0;
//     height: 10px;
//     border-radius: 0px 0px 12px 12px;
//     z-index: 2;
    
// }

// .wrapper__shadow-item:last-child {
//     position: absolute;
//     background: #E7E7F2;
//     left: 40px;
//     right: 40px;
//     top: 0;
//     bottom: 0;
//     height: 20px;
//     border-radius: 0px 0px 12px 12px;
//     z-index: 1;
// }


.container {
padding: 0 30px;

@media (min-width: $breakpoint-md) {
    max-width: 708px;
    margin: 0 auto;
}
@media (min-width: $breakpoint-lg) {
    max-width: 964px;
}
@media (min-width: $breakpoint-xl) {
    max-width: 1380px;
}
@media (min-width: $breakpoint-xxl) {
    max-width: 1660px;
}
}

.main-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: $white;
}

.arrow {
    width: 7px;
    height: 7px;
    border-top: 2px solid $regular-color;
    border-right: 2px solid $regular-color;
    
    
}
.arrow-right {
    transform: rotate(45deg);
}